.App {
  padding-top: 60px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  width: 100%;
}

.Photo {
  border-radius: 3px;
  border: 1px solid #e6e6e6;

  .Profile {
    border-bottom: 1px solid #efefef;
    height: 60px;
    padding: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    display: flex;

    &-photo {
      align-self: center;
      display: block;
      -webkit-box-flex: 0;
      flex: none;
      align-items: stretch;
      border: 0 solid #000;
      box-sizing: border-box;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      margin: 0;
      padding: 0;
      position: relative;

      &-canvas {
        transform: translate(-5px, -5px);
        position: absolute;
        top: 0px;
        left: 0px;
        width: 40px;
        height: 40px;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
      }

      &-container {
        width: 30px;
        height: 30px;
        background-color: #fafafa;
        border-radius: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        overflow: hidden;
        position: relative;
      }
    }

    &-name {
      -webkit-box-align: start;
      align-items: flex-start;
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      margin-left: 12px;
      overflow: hidden;
      color: #262626;
      -webkit-box-flex: 0;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: 5px;
      margin-left: 7px;
    }
  }

  .Picture {
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;

    &-Container {
      img {
        height: auto;
        width: 100%;
      }
    }
  }

  .Footer {
    padding: 0 16px;
    align-items: stretch;
    border: 0 solid #000;

    &-actions {
      margin-top: 4px;
      flex-direction: row;

      a {
        color: #003569;
        text-decoration: none;
        display: inline-block;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        padding: 8px;

        &.liked {
          color: red;
        }
      }
    }

    &-stats {
      display: block;
    }
  }
}
